<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body" style="height: 100vh;">
            <h4 class="card-title">User Withdraw List</h4>
            <div class="table-responsive" style="height: 100vh;">
                <table class="table table-hover align-middle text-nowrap table-bordered">
                    <thead>
                        <tr>
                          <th class="text-dark font-medium fs-4">#</th>
                          <th class="text-dark font-medium fs-4">Full Name</th>
                          <th class="text-dark font-medium fs-4">Mobile Number</th>
                          <th class="text-dark font-medium fs-4">Amount</th>
                          <th class="text-dark font-medium fs-4">Status</th>
                          <th class="text-dark font-medium fs-4">Date</th>
                          <th class="text-dark font-medium fs-4">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let item of withdrawHistory; index as i'>
                          <td>
                              {{ i + 1 }}
                          </td>
                          <td>
                              {{item?.userDetail?.full_name}}
                          </td>
                          <td>
                              {{item?.userDetail?.mobile_no}}
                          </td>
                          <td>
                              Rs. {{item?.amount || '0'}}
                          </td>

                          <td>
                            <span *ngIf="item?.status == 1" class="mb-1 me-2 badge font-medium bg-light-success text-success">Approved</span>
                            <span *ngIf="item?.status == 2" class="mb-1 me-2 badge font-medium bg-light-danger text-danger">Rejected</span>
                            <span *ngIf="item?.status == 0" class="mb-1 me-2 badge font-medium bg-light-warning text-warning">Pending</span>
                            <span *ngIf="item?.status == 3" class="mb-1 me-2 badge font-medium bg-light-warning text-warning">Processing</span>
                        </td>
                        <td>
                           {{item?.created_on | date: 'dd/MM/yyyy' }}
                         </td>
                          <!-- <td>
                            <div class="d-inline-block" ngbDropdown>
                              <button class="btn btn-secondary d-flex align-items-center" id="dropdown1" ngbDropdownToggle>
                                Status Change
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdown1">
                                <button class="dropdown-item" (click)="statusChange(item?.id, 1)">Verify</button>
                                <button class="dropdown-item" (click)="statusChange(item?.id, 2)">Decline</button>
                                <button class="dropdown-item" (click)="statusChange(item?.id, 0)">Pending</button>
                                <button class="dropdown-item" (click)="statusChange(item?.id, 3)">Processing</button>
                              </div>
                            </div>
                        </td> -->

                        <td>
                          <button class="btn btn-secondary d-flex align-items-center" (click)="showDetails(item?.id)">View</button>
                        </td>
                      </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
